body{
	    background: #f6f6f9;
	    color: #4c535e;

}

.left-cont{
	width: 250px;
	position: fixed;
	box-shadow: 0 0 20px rgba(0,0,0,.4);
	height: 100vh;
	color: #fff;
	background-color: #fff;
}


.lefttop-cont{
	background: #e4ab78; /* Old browsers */
background: -moz-linear-gradient(left, #e4ab78 0%, #e58785 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #e4ab78 0%,#e58785 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #e4ab78 0%,#e58785 100%); 
padding-top: 50px;
padding-bottom: 20px;

}

.pic-cont{
	border-radius: 50%;
	height: 110px;
	width: 110px;
	overflow: hidden;
	text-align: center;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	margin-left: 25%
}

.pic-cont img{
	height: 100%;
	width: 100%;
	text-align: center;
}

.name{
	color: #fff;
	font-weight: 700;
	text-align: center;
	margin-top: 10px;
}


.intro{
	font-size: .85em;
	text-align: center;
	margin-top: 10px;
	width: 99%;
	margin-bottom: 15px;
}

.following-cont>div{
	width: 50%;
	display: inline-block;
	float: left;
	text-align: center;
	cursor: pointer;
}
.following-cont::after{
	clear: both;
	content: '';
	display: block;
}

.menulink{
	color: #818588;;
	font-weight: 500;
	text-align: left;
	margin-left: 70px;
	margin-top: 20px;
	cursor: pointer;
	font-size: 1.0em;
	
}

.menulink.active{
	color: #f4a37e;
}

.menulink:hover{
	color: #f4a37e;
}

.feed-wrap{
	margin-left: 250px;

}

.feed-cont{
	background-color: #fff;
	box-shadow: 0 0 20px #000;
	width: 460px;
	margin-left: 100px;
	
}
.feed-cont >div{
/*float: left;
width: 50%;*/
}


.feedpic-cont{

}


.feed-cont img{
width: 100%;

}
.feeddetail-cont{
	padding: 20px;
}