.App {
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedContainer {
  position: absolute;
  width: 40em;
  left: 350px;
  margin: 0% 1%;
}

@media (max-width: 480px) {
  .mobile-hide {
    display: none;
  }

  .feedContainer {
    left: 0px;
    width: 98%;
  }
}
