.App {
  text-align: center;
}

.flex-row {
  display: flex;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedContainer {
  position: absolute;
  width: 40%;
  left: 350px;
  right: 350px;
  margin: 0% 1%;
}

.notificationsContainer {
  width: 25%;
  right: 40px;
}

.rteEditor {
  border-bottom: 1px solid #EEE;
  padding: 5px;
}

.rteWrapper {
}

.hidden {
  display: none;
}

@media (max-width: 920px) {
  .notificationsContainer {
    left: 40px;
    top: 270px;
    width: 30%;
  }
  .feedContainer {
    width: 55%;
  }
}

@media (max-width: 480px) {
  .mobile-hide {
    display: none;
  }

  .feedContainer {
    left: 0px;
    width: 98%;
  }
}
